body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #000000;
    margin: 0;
    
}

h1 {
    color: #243447;
}

h2 {
    color: #40566b;
}


main {
    width: 90%;
    max-width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left:auto;
    margin-right: auto;
    padding: 1em 0;
}






header {
    background-color: #243447;
    padding: 2em;
}

nav {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 0.5em;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0.5em;
}

.logo {
    margin-right: auto;
}

.logo img {
    width: 2em;
    vertical-align: middle;
}





.card {
    background-color: white;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    padding: 1.5em;
    margin: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 30%;
}

.product-card {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 0;

}






.services ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 0;
}

.services li {
    background-color: white;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    padding: 1.5em;
    list-style: none;
}

.services li:hover {
    background-color: #7a7a7a;
}

.services a {
    color: #17212d;
    text-decoration: none;
}

.services a:hover {
    color:#ccc;

}








form {
    background-color: white;
    border: 0.1em solid #ccc;
    padding: 1em;
    width: 90%;
    max-width: 30em;
}

label {
    display: block;
    margin-top: 1em;
}

input,
select {
    margin-top: 0.3em;
    padding: 0.5em;
    max-width: 100%;
}

input[type="submit"] {
    background-color: #243447;
    color: white;
    border: none;
    margin-top: 1em;
}